<div class="wrap">
  <table class="alerts-list">
    <thead>
        <tr>      
          <th>AlertId</th>
          <th>AlertTime</th>
          <th>Severity</th>
          <th>ClientIP</th>
          <th>ServerIP</th>
          <th>Protocol</th>
          <th>ClientCountry</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of alerts; let i = index;" [class.alt-row]="i % 2">      
        <td (click)="rowClicked(alert)">{{alert.AlertId}}</td>
        <td (click)="rowClicked(alert)">{{alert.AlertTime}}</td>
        <td (click)="rowClicked(alert)" class="severity-{{alert.Severity}}">{{alert.Severity}}</td>
        <td (click)="rowClicked(alert)">{{alert.ClientIP}}</td>
        <td (click)="rowClicked(alert)">{{alert.ServerIP}}</td>
        <td (click)="rowClicked(alert)">{{alert.Protocol}}</td>
        <td (click)="rowClicked(alert)">{{alert.ClientCountry}}</td>
      </tr>
    </tbody>
  </table>
</div>